*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: "IBM Plex Sans", sans-serif;
    animation: fadeinblur 1s cubic-bezier(0, 0, 0.58, 1) forwards;
}
@keyframes fadeinblur{
    0%{
        filter: blur(100px);
    }
    100%{
        filter: blur(0);
    }
}

                     /* Begining of header */
/*Begining of head */
header {
    height: 100vh;
    /*width: 100vw;*/
    overflow: hidden;
    max-width: 100%;
    background-image: url(../images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #a7848452;
    padding-bottom: 10px;
}
.head a{
    margin-top: 20px;
    text-decoration: none;
    color: azure;
    transition: all 0.4s ease;
}
.head :nth-child(2){
    opacity: 0;
    transform: translateY(40px);
    animation: links 1s cubic-bezier(0, 0, 0.58, 1) forwards;
    animation-delay: 0.8s;
}
.head :nth-child(3){
    opacity: 0;
    transform: translateY(40px);
    animation: links 1s cubic-bezier(0, 0, 0.58, 1) forwards;
    animation-delay: 1s;
}
.head :nth-child(4){
   opacity: 0;
    transform: translateY(40px);
    animation: links 1s cubic-bezier(0, 0, 0.58, 1) forwards;
    animation-delay: 1.2s;
}.head :nth-child(5){
   opacity: 0;
    transform: translateY(40px);
    animation: links 1s cubic-bezier(0, 0, 0.58, 1) forwards;
    animation-delay: 1.2s;
}
.head :nth-child(6){
   opacity: 0;
    transform: translateY(40px);
    animation: links 1s cubic-bezier(0, 0, 0.58, 1) forwards;
    animation-delay: 1.2s;
}
.head a:hover{
    color: #f3d0d0;
    transform: scale(1.2);
}
.head img{
    opacity: 0;
    position: relative;
    left: -8%;
    animation: logoslide 1s cubic-bezier(0, 0, 0.58, 1) forwards;
    animation-delay: 0.4s;
    margin-top: 20px;
    margin-left: 10px;
    height: 50px;
    width: 50px; 
    border-radius: 50%;
}

@keyframes logoslide {
    to{
        opacity: 1;
        left: 0%;
    }
}
@keyframes links{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/*Ending of head */
/*Begining of section */
section h4{
    opacity: 0;
    position: relative;
    animation: slidein 1.5s cubic-bezier(0.2, 1, 0.58, 1) forwards;
    animation-delay: 2s;
    left: -40%;
    padding-left: 20px;
    transform: translateY(250px);
    font-size: 4.5rem;
    text-align: left;
    color: white;
}
section h4 span{
    color: #102E50;
}
@keyframes slidein {
    to{
        opacity: 1;
        left: 0;
    }
}
@media (max-width: 570px){
    section h4{
        text-align: center;
        font-size: 3rem ;
        margin: auto;
    }
}
section{
    position: relative;
    height: 80vh;
}
.cards img{
    width: 200px;
    height: 300px;
    border-radius: 20px;
}
.cards :nth-child(1){
    opacity: 0;
    position: absolute;
    left: 100%;
    bottom: 25%;
    animation: card1 1s cubic-bezier(0, 0, 0.58, 1) forwards;
    animation-delay: 2.8s;
    transition: all 0.4s ease;
}
.cards :nth-child(1):hover{
    transform: translate(-150px);
}
.cards :nth-child(2){
    opacity: 0;
    position: absolute;
    left: 100%;
    bottom: 17%;
    animation: card2 1s cubic-bezier(0, 0, 0.58, 1) forwards;
    animation-delay: 3.2s;
    transition: all 0.4s ease;
}
.cards :nth-child(2):hover{
    transform: translate(-150px);
}
.cards :nth-child(3){
    opacity: 0;
    position: absolute;
    left: 100%;
    bottom: 10%;
    animation: card3 1s cubic-bezier(0, 0, 0.58, 1) forwards;
    animation-delay: 3.6s;
    transition: all 0.4s ease;
}
.cards :nth-child(3):hover{
    transform: translate(-150px);
}
@keyframes card1 {
    to{
        opacity: 1;
        left: 68%;
        bottom: 25%; 
    }
}
@keyframes card2 {
    to{
        opacity: 1;
        left: 71%;
        bottom: 17%;
    }
}
@keyframes card3 {
    to{
        opacity: 1;
        left: 75%;
        bottom: 10%;
    }
}
@media (max-width: 817px){
    .cards img{
        display: none;
    }
}
/*Ending of section */
/*Begining of services*/
.services{
    background: linear-gradient(to bottom, #8b4443, #505f77);
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
}
.services .transition{
    margin: auto;
    max-width: 80%;
    position: relative;
    display: flex;
    align-items: center;
}
.services .transition :nth-child(1){
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.services .transition :nth-child(2){
    opacity: 0;
    position: absolute;
    left: 100%;
    bottom: 15%;
    width: 186px;
    height: 143px;

}
.services .transition.inview :nth-child(2){
    animation: transition 0.8s cubic-bezier(0.2,1,0.58,1) forwards;
    animation-delay: 1s;
}
@media (max-width: 400px){
    .services .transition :nth-child(1),
    .services .transition :nth-child(2){
        display: none;
    }
}
.services .transition :nth-child(3){
    margin-top: 20px;
    opacity: 0;
    color: azure;
    font-size: 2rem;
    margin-left: 24px;
    text-align: center;
    transform: translatex(500px);
}
.services .transition.inview :nth-child(3){
    animation: fittext 0.8s cubic-bezier(0.2, 1, 0.58, 1) forwards;
    animation-delay: 0.5s;
}


@keyframes fittext{
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes transition{
    to{
    opacity: 1;
    left: 2%;
    bottom: 15%;
}
}
@media (max-width: 830px){
    .services .transition :nth-child(2){
        left: 3%;
    }
}
@media (max-width: 400px){
    .services .transition :nth-child(2){
        display: none;
    }
    .services .transition{
        flex-direction: column;
    }
}
@media (max-width: 500px) {
    .services .transition{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.services .bienfits{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin: 80px 40px;
    line-height: 2;
}
@media (max-width: 580px){
    .services .bienfits{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
    }
}
.services .bienfits .col1{
    opacity: 0;
    text-align: center;
    padding: 20px;
    background-color: #d7ffff36;
    box-shadow: 10px 13px 10px 0px #3d3d3d,
                -8px -6px 12px 2px #3d3d3d;
    border-radius: 20px;
}

.services .bienfits.inview .col1{
    animation: fadein 1s ease forwards;
}

.services .bienfits .col1 h4,
.services .bienfits .col2 h4,
.services .bienfits .col3 h4{
    font-weight: 700;
    font-size: 1.1em;
    color: azure;
}
.services .bienfits .col1 i,
.services .bienfits .col2 i,
.services .bienfits .col3 i{
    font-size: 1.2em;
    color: #120d55;
}
.services .bienfits .col1 p,
.services .bienfits .col2 p,
.services .bienfits .col3 p{
    color: #1b172d;
    font-size: 16px;
}
.services .bienfits .col2{
    opacity: 0;
    text-align: center;
    padding: 20px;
    background-color: #d7ffff36;
    box-shadow: 10px 13px 10px 0px #3d3d3d,
                -8px -6px 12px 2px #3d3d3d;
    border-radius: 20px;
}

.services .bienfits.inview .col2{
    animation: fadein 1s ease forwards;
    animation-delay: 0.5s;  
}

.services .bienfits .col3{
    opacity: 0;
    grid-column: 1 / -1;
    max-width: 548px;
    justify-self: center;
    text-align: center;
    padding: 20px;
    background-color: #d7ffff36;
    box-shadow: 10px 13px 10px 0px #3d3d3d,
                -8px -6px 12px 2px #3d3d3d;
    border-radius: 20px;
}

.services .bienfits.inview .col3{
    animation: fadein 1s ease forwards;
    animation-delay: 1s;  
}

@keyframes fadein {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
    
}


/*Ending of services*/
/*Begining of products*/


.Products{
    background: linear-gradient(to right, #917b76, #213a5f);
}
.Products h4{
    text-align: center;
    padding-top: 60px;
    font-size: 2rem;
    font-weight: 900;
    color: #ffffca;
}
.products{
    padding: 40px 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
    gap: 3rem 7.5rem;
    justify-items: center;
}
.products .p{
    opacity: 0;
    padding: 30px 18px;
    border-radius: 20px;
    background-color: #2d5b5b;
    transition: all 0.4s ease;
}

.products .p.inview{
    animation: fadein 1.5s ease-in-out forwards;
}

.products .p:hover{
    background-color: #234747;
    transform: translateY(-10px);
}
.products img{
    width: 280px;
    height: 330px;
    border-radius: 20px;
}
.products h3{
    text-align: center;
    margin: 20px 0px;
    color: white;
}
.products p{
    text-align: center;
    color: white;
}
.products button{
    transform: translateX(77px);
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 10px;
    background-color: #978267;
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    box-shadow: 3px 5px 20px 0px #000000ba;
    transition: all 0.4s ease ;
}
.products button:hover{
    background-color: #ffffff;
    color: black;
}
.products button:active{
    background-color: #c0bbbb;
}

/*Ending of products*/
/*Begining of About*/
.about{
    background: linear-gradient(to right, #2f2a28, #173561);
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
    align-items: center;
    gap: 50px;
    padding: 50px;
}
.about img{
    opacity: 0;
    width: 80%;
    height: 80%;
    order: 2;
    border-radius: 1000px;
    justify-self: center;
    box-shadow: 2px 2px 50px 3px #b1b10e;
}

.about.inview img{
    animation: fadein 3s ease forwards , animat 2s ease-in-out infinite; ;
}

@keyframes animat {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
    
}
.about p{
    opacity: 0;
    color: #f9ffdf;
    order: 1;
    justify-self: center;
    align-self: center;
    font-size: 1.3rem;
    line-height: 1.4;
}

.about.inview p{
    animation: txt 1s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes txt {
    from{
        transform: translateX(-10px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@media (max-width: 564px) {
    .about img{
        order: 1;
    }
    .about p{
        order: 2;
    }
}

/*Ending of About*/
/*Begining of Contacts*/
.contacts{
    background: linear-gradient(to right, #2f2a28, #173561);
}
.contacts h4{
    padding-top: 40px;
    text-align: center;
    font-size: 2rem;
    color: white;
}
.contacts p{
    text-align: center;
    color: white;
    padding-top: 10px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;
    color: white;
    gap: 30px;
}
.icons i{
    font-size: 1.3rem;
}
.icons :nth-child(1):hover{
    color: rgb(48, 48, 255);
    cursor: pointer;
}
.icons :nth-child(2):hover{
    color: rgb(118, 211, 241);
    cursor: pointer;
}
.icons :nth-child(3):hover{
    color: rgb(255, 219, 151);
    cursor: pointer;
}
/*Ending of Contacts*/
/*Begining of footer*/
.links{
    background-color: #2c2c4f;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 25px;
}
.links .link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links .link h3{
    color: white;
    padding-bottom: 15px;
}
.links .link a{
    color: beige;
    padding: 4px;
}
.links .link a:hover{
    color: rgb(190, 190, 159);
}
/*Ending of footer*/